<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376402680768-d0did5dkeilgqmgovq9hs7u560i0a0og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376402680768-d0did5dkeilgqmgovq9hs7u560i0a0og</string>
	<key>API_KEY</key>
	<string>AIzaSyCReCc8mQykC03a8OoL0einbWhXqfZyc7o</string>
	<key>GCM_SENDER_ID</key>
	<string>376402680768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.funAdventure.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tourism-398213</string>
	<key>STORAGE_BUCKET</key>
	<string>tourism-398213.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376402680768:ios:4c5916a76cc6b96f238625</string>
</dict>
</plist>